body {
    margin: 0;
    background: #0A081B;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
  }
  button {
    color: #fff;
    background: transparent;
    padding: 4px 8px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.62px;
    letter-spacing: -3%;
  }
  button:focus {
    outline: none;
    border-color: rgba(140, 121, 255, 0.29);
  }