.success-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(62px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
}

.success-screen {
    background: linear-gradient(255.66deg, #1F1B34 59.42%, #231648 107.71%);
    border-radius: 6px;
    width: 90%;
    max-width: 612px;
    margin-top: 100px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    animation: scaleIn 0.3s ease forwards;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.success-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 1rem;
    stroke: #8a63f8;
}

.success-message {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 1.5rem;
}

.customize-section {
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.customize-left {
    flex: 1;
    text-align: left;
    font-size: 13px;
    padding-left: 20px;
    min-height: 100%;
    /* font-family: 'Inter', sans-serif; */
}

.customize-left h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.customize-left ul {
    margin: 0.5rem 0 1rem 1.2rem;
    padding: 0;
    list-style: disc;
    color: white;
    line-height: 23px;
}

.customize-btn {
    width: 153;
    height: 32;
    opacity: 1;
    border-radius: 5px;
    gap: 8px;
    display: flex;
    border-width: 1px;
    border: 1px solid rgba(255, 255, 255, 1)
}

/* .customize-btn:hover {
    background: #7048e8;
} */

.customize-right img {
    padding-top: 12px;
    padding-right: 9px;
    max-height: 209px;
}