.ws-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
}

.ws-info-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 11px;
}

.ws-help-card {
    display: flex;
    align-items: flex-start;
    background: rgba(33, 30, 57, 1);
    max-height: 105px;
    opacity: 1;
    border: 1px solid rgba(38, 46, 132, 1);
    background: rgba(20, 17, 40, 1);
    padding: 10px;
    border-radius: 8px;
    min-width: 217px;
    font-size: 12px;
    flex-direction: column;
}

.ws-card {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    background: rgba(20, 17, 40, 1);
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    max-height: 105px;
    min-width: 454px;
}

.ws-info-icon img {
    width: 20px;
    height: 20px;
    opacity: 0.8;
    margin-top: 4px;
    /* align with text */
}

.ws-info-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ws-info-title {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: white;
}

.ws-info-subtitle {
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
    color: #9a9bb3;
}

.ws-docs-link {
    font-size: 12px;
    color: rgba(140, 121, 255, 1);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.ws-docs-link img {
    width: 8.5px;
    height: 8.5px;
}

.ws-card .ws-info-card {
    display: flex;
    flex-direction: row;
}

/* Help card specific */
.ws-help-card .ws-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ws-help-link {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.ws-thumbnail {
    width: 96px;
    border-radius: 8px;
}


.ws-docs-link {
    color: rgba(140, 121, 255, 1);
    text-decoration: none;
    font-size: 12px;
}

/* Scripts header */
.ws-scripts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ws-scripts-title {
    font-family: DM Sans;
    font-weight: 400;
    font-style: 9pt Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -3%;
    color: white;
}

.ws-next-btn {
    background: rgba(38, 46, 132, 1);
    color: white;
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    width: 91px;
    cursor: pointer;
}

.ws-scripts-scroll {
    max-height: 358px;
    overflow-y: auto;
    padding-right: 8px;
    overflow-x: auto;
    font-size: 14px;
    width: 762px;
    scrollbar-width: none;
}

.ws-card-title {
    color: rgba(140, 121, 255, 1);
    margin-top: 2px;
    margin-bottom: 2px;
}

.ws-popup {
    position: fixed;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.6); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.ws-popup-content {
    background: rgba(10, 8, 27, 1);
    /* padding: 20px; */
    border-radius: 12px;
    width: 800px;
}